<%- include('partials/header') %>

<center>

  <style>
    .form-center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Adjust as needed */
    }
    
    .form-container {
      width: 100%;
      max-width: 400px; /* Adjust as needed */
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
    }
    </style>

  
<div class="form-container">
  <form action="/signup" method="post" >
    <h3 class="h3 mb-3 fw-normal">Register</h3>
    
    <div class="form-floating">
      <input type="text" name="name" class="form-control email" id="floatingInput" placeholder="Name">
      <label for="floatingInput">Name</label>
    </div>
    
    <div class="form-floating">
      <input type="email" name="username" class="form-control email" id="floatingInput" placeholder="name@example.com" required>
      <label for="floatingInput">Email address</label>
    </div>

    <select class="form-select" name="major" >
      <option selected>Select Major</option>
      <option value="SSE">SSE</option>
      <option value="HSS">HSS</option>
      <option value="SDSB">SDSB</option>
      <option value="SAHSOL">SAHSOL</option>
    </select>

    <div class="form-floating">
      <input type="text" name="class" class="form-control email" id="floatingInput" placeholder="20XX">
      <label for="floatingInput">Graduation Year</label>
    </div>
    
    <div class="form-floating">
      <input type="password" name="password" class="form-control password" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="row btn-container">
      
      <button class="btn btn-primary submit-btn" type="submit">Register</button>
      
      <p><%= error %></p>
    </div>
    
  </form>
</div>

</center>





<%- include('partials/footer') %>